<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>请选择性别</h2>
    <h3>你的选择是:{{gender}}</h3>
    
    <label for="male" >
      <input checked v-model="gender" type="radio" id="male" value="男">
      男</label>

    
    <label for="female">
      <input v-model="gender" type="radio" id="female" value="女">
      女</label>
    <hr>
    <!-- 复选框 -->
    <h2>选择技术栈</h2>
    <h3>你的选择是{{checks}}</h3>
    <label for="SpringBoot">
      <input type="checkbox"
       value="SpringBoot" 
      id="SpringBoot"
      v-model="checks">
      SpringBoot
    </label>
    <label for="Vue">
      <input type="checkbox"
       value="Vue" 
      id="Vue"
      v-model="checks">
      Vue
    </label>
    <label for="JS">
      <input type="checkbox"
       value="JS" 
      id="JS"
      v-model="checks">
      JS
    </label>
    
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let app = Vue.createApp({
      data() {
      return {
          gender:"",
          checks:["SpringBoot"],

      };
      },
      created() {
        
      },
      mounted() {
        
      },
      methods: {
        
      },
    });
    let vm = app.mount('#app');
  </script>
</body>

<html>